<div class="bgComponent">
    <div class="form">
      <mat-card class="card">
        <mat-card-title>Please complete all information:</mat-card-title>
        <br>
        <mat-card-content>
          <div class="container">
            <mat-form-field>
                <mat-label>Escoge un rol</mat-label>
                <mat-select  [(ngModel)]="registerData._id">
                  <mat-option *ngFor="let item of userData" value= {{item._id}} [disabled]="false"
                >{{
                    item.name
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
              
                 
            <input type="file"  />     
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            (click)="listme()"
            class="button colorButton"  mat-raised-button >
            Register
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>


  <div *ngIf="show!=false">
    <h1 *ngFor="let tasks of tasksassinged">{{tasks.name}}</h1>
    <h1>{{registerData.name}}</h1>
  </div>