.bgComponent {
  background-image: url("../../../assets/img/airbuddies.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 30%;
}

.container {
    display: flex;
    flex-direction: column;
  }
  
  .button {
    width: 100%;
  }
  
  .card {
    background-color: #f4c989;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 16px 0px;
  }
  
  mat-card-title {
    text-align: center;
    color: #ac7420;
  }
  
  .colorButton {
    background-color: #e0982b;
    color: #e1dcdc;
  }
  
  .bgComponent {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  
  /*change color of animation input*/
  
  ::ng-deep .mat-form-field-ripple  {
    background-color: #ac7420 !important;
  }
  
  ::ng-deep .mat-focused .mat-form-field-label {
    color: #ac7420 !important;
  }
  