<mat-toolbar class="bgHeader">
    <ul>
        <img src="../../../assets/img/header-task-buddie.jpg" height="50px" alt="">
    </ul>
    <ul>
      <a routerLink="listBoard">List board</a>
    </ul>
    <ul>
      <a routerLink="saveBoard">Create board</a>
    </ul>
    <ul>
      <a routerLink="listUser">Admin</a>
    </ul>
    <span class="headerSpacer"></span>
    <ul>
      <a mat-button routerLink="signUp"> Sign Up </a>
      <a mat-button routerLink="login"> Login </a>
      <a mat-button>Logout</a>
    </ul>
  </mat-toolbar>
