<div class="boards">
  <div class="board">
    <h3>Todo</h3>
    <div class="dropzone">
      <div class="bgComponent" *ngFor="let task of taskData">
        <div class="wrapper" *ngIf='task.taskStatus=="to-do"' >
          <div class="outer" >
              <div class="content">
                  <span class="bg">Author : {{task.author}}</span>
                  <h1>{{task.name}}<br/></h1>
                  <p>{{task.description}}</p>
        
                  <div class="button">
                      <a href="#">$115</a><a href="#" class="cart-btn"><i class="fa fa-plus cart-icon"></i> ADD TO CART</a>
                  </div>
              </div>
              <img src="../../../assets/img/1.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="board">
    <h3>In Progress</h3>
    <div class="dropzone">
      <div class="bgComponent" *ngFor="let task of taskData">
        <div class="wrapper" *ngIf='task.taskStatus=="in-Progress"' >
          <div class="outer">
              <div class="content">
                  <span class="bg">Author : {{task.author}}</span>
                  <h1>{{task.name}}<br/></h1>
                  <p>{{task.description}}</p>
        
                  <div class="button">
                      <a href="#">$115</a><a href="#" class="cart-btn"><i class="fa fa-plus cart-icon"></i> ADD TO CART</a>
                  </div>
              </div>
              <img src="../../../assets/img/1.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="board">
    <h3>Done</h3>
    <div class="dropzone">
      <div class="bgComponent" *ngFor="let task of taskData">
        <div class="wrapper" *ngIf='task.taskStatus=="done"' >
          <div class="outer"  >
              <div class="content">
                  <span class="bg">Author : {{task.author}}</span>
                  <h1>{{task.name}}<br/></h1>
                  <p>{{task.description}}</p>
        
                  <div class="button">
                      <a href="#">$115</a><a href="#" class="cart-btn"><i class="fa fa-plus cart-icon"></i> ADD TO CART</a>
                  </div>
              </div>
              <img src="../../../assets/img/1.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


