.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color:  #2b475e;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 1;
  
} 

.board{
  padding-bottom: 50px;
  
}
.outer{
  position: relative;
  background-color: #fff;
  height:280px;
  width:400px;
  justify-content: space-between;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
img{
  position: absolute;
  top:0px;
  right:-30px;
  z-index:0;
  width:170px;
  height: 280px;
}
.content{
  position: relative;
  left:20px;
  
}
.Info{
  overflow: hidden;
  white-space: nowrap;
}
h1{
  color:#111;
  word-break: break-all;
  font-size: small;
  font-weight: bold;
  text-transform: capitalize;
}
p{
  width:250px;
  font-size: 13px;
  line-height: 1.4;
  color:black;
  padding-bottom: 5px;
  overflow: hidden;
  word-wrap: break-word
  
}
.bg{
  display: inline-block;
  color:#fff;
  background-color: cornflowerblue;
  padding:5px 10px;
  border-radius: 50px;
  font-size: .7em;
  margin-top: 70px;
  
}
.button{
  width:fit-content;
  height: fit-content;
  margin-bottom: 50px;
}
.material-icons-outlined{
  cursor: pointer;
  padding-left: 50px;
}

.button a{
  display: inline-block;
  overflow: hidden;
  position: relative;
  font-size:11px;
  color:#111;
  text-decoration: none;
  padding:10px 15px;
  border:1px solid #aaa;
  font-weight: bold;
}
.button a:after{
  content:'';
  position: absolute;
  top:0;
  right:-10px;
  width:0%;
  background-color: #111;
  height:100%;
  z-index: -1;
  transition: width 0.3s ease-in-out;
  transform: skew(-25deg);
  transform-origin: right;
}
.button a:hover:after{
  width:150%;
  left:-10px;
  transform-origin: left;
}
.button a:hover{
  color:#fff;
  transition: all 0.5s ease;
}
.button a:nth-of-type(1){
  border-radius: 50px 0 0 50px;
  border-right:none;
}
.button a:nth-of-type(2){
  border-radius: 0px 50px 50px 0;
}
.cart-icon{
  padding-right:8px;
}
@media (max-width:767px){
  .outer{
      width:95%;
  }
  .content{
      left:50%;
      transform:translateX(-50%);
  }
  img{
      display: none;
  }
}


.boards {
  display: flex;
  margin-top: 32px;
}



.board {
  background-color: #2b475e;
  border: 1px solid #FD9F1F11;
  border-radius: 4px;
  width: 100%;
  margin: 0 16px;
}

.board h3 {
  padding: 16px;
  margin: 0;
  color: #fd9f1fcc;
}