
<div class="bgComponent">
    <div class="container">

<h1> Welcome To TaskBuddie</h1>
<h2> TaskBuddie es una herrammienta que te permite crear tareas en equipo con la cual podras organizar las actividades correspondiente de cada miembro y su avance.</h2>

<ul>
<li><h2> Version Free  </h2></li>
<li><h3> Crear tableros con 5 miembros </h3></li>
<li><h3> Crear tareas exclusivas </h3></li>
<li><h3> Ranking de participacion </h3></li>
<li><h3> Asignar imagenes a tus tareas favoritas</h3></li>
<li><h2> Version Premium  </h2></li>
<li><h3> Crear tableros sin limite de miembros</h3></li>
<li><h3> Asignar un fondo a tus tableros favoritos</h3></li>
</ul>

</div>
</div>