.bgComponent {
  background-image: url("../../../assets/img/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
}

.label{
  cursor: default;

}

.container {
  display: flex;
  flex-direction: column;
  padding: 12px 10px 0px;
  width: 90%;
  height: 90%;
}

.imagenProfile{
width: 279px;
height: 279px;
border: #2b475e;
border-style: double;
}

.inputFile{
background: #f4c989;
border: 1px solid #ac7420;
border-top: 1px solid #e0982b;
border-left: 1px solid #e0982b;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
color: #ac7420;
display: inline-block;
font-size: 11px;
text-decoration: none;
cursor: pointer;
margin-top: 10px;
line-height: normal;
padding: 10px;
position: relative;
width: 280px;
}

.card2{
  background-color: rgba(255, 153, 0, 0.322);
  padding:40px;
  margin:10px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 15%;
}

.bgShearch {
  background-color: #161f29;
  color: #ffffff;
}

.mat-icon {
  padding: 15px;
}

.colorUpdate {
  color: #0938d3;
  cursor: pointer;
  padding-right: 15px;
}

.colorDelete {
  color: #af0a20;
  cursor: pointer;
  padding-right: 15px;
}

.deleteIcon:hover {
  color: #ff0000;
  cursor: pointer;
  padding-right: 15px;
}

.updateIcon:hover {
  color: #20cbff;
  cursor: pointer;
  padding-right: 15px;
}

.button {
  display: flex;
  justify-content: center;
  padding: 2px;
  margin-top: 10px;
  background-color: #e0982b;
  color: #e1dcdc;
  width: 5%;
  height: 5%;
}

.card-wrapper{
  position: relative;
}
.card{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:350px;
  height:450px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0,0,0,0.6);
  cursor: pointer;
  transition: 0.5s;
}
.card .card-image{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:2;
  background:#000;
  transition: 0.5s;
}
.card:hover img{
  opacity: 0.4;
  transition: 0.5s;
}
.card:hover .card-image{
  transform:translateY(-100px);
  transition: all 0.9s;
}
.social-icons{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:3;
  display:flex;
}
.social-icons li{
  list-style: none;
}
.social-icons li a{
  position:relative;
  display:block;
  width:50px;
  height:50px;
  line-height:50px;
  text-align: center;
  background-color:#fff;
  font-size:23px;
  color:#333;
  font-weight:bold;
  margin:0 6px;
  transition:0.4s;
  transform:translateY(200px);
  opacity: 0;
}
.card:hover .social-icons li a{
  transform:translateY(0px);
  opacity: 1;
}
.social-icons li a:hover{
  background:#000;
  transition:0.2s;
}
.social-icons li a:hover .fab{
  color:#fff;
}
.social-icons li a .fab{
  transition:0.8s;
}
.social-icons li a .fab:hover{
  transform:rotateY(360deg);
  color:#fff;
}
.card:hover li:nth-child(1) a{
  transition-delay: 0.1s;
}
.card:hover li:nth-child(2) a{
  transition-delay: 0.2s;
}
.card:hover li:nth-child(3) a{
  transition-delay: 0.3s;
}
.card:hover li:nth-child(4) a{
  transition-delay: 0.4s;
}
.details{
  position: absolute;
  bottom: 0;
  left: 0;
  background:#fff;
  width:100%;
  height:120px;
  z-index: 1;
  padding:10px;
}
.details h2{
  margin:30px 0px;
  padding:0;
  text-align: center;
}
.details h2 .job-title{
  font-size: 1rem;
  line-height: 2.5rem;
  color:#333;
  font-weight: 500;
}
@media (max-width:767px){
  .card-wrapper{
    width:90%;
  }
}