.logo{
    text-align: center;
    padding:2.6rem 1rem;

}

.logo img{
    width:200px;

}

.mat-icon{
    vertical-align: center;
    margin-right: 1rem;
    text-decoration: none

}

.mat-divider{
    border-top-width: 2px;
    border-color: white;
}

.mat-list-item {
    color: #94a3b8 !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
    margin: 0 8px;
    text-decoration: none
    
}

.mat-list-item-content{
    border-radius: 5px;
    margin: 0 8px;
    text-decoration: none
}

a{
    text-decoration: none;
    
}

.list-item-active{
    color: #f2f5f7 !important;
    text-decoration: none
}

.mat-subheader{
    color: #818cf8;
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 1px;
    text-decoration: none
}