<mat-nav-list class="prueba">
    <div class="logo">
        <img src="../../../assets/img/logo.png" alt="Company Logo">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader *ngIf="_userService.loggedIn()" class="mt-2" class="user">Welcome {{userData.name}}</h2>
    <h2 matSubheader *ngIf="!_userService.loggedIn()" class="mt-2">Welcome Visitor</h2>
    <a *ngIf="!_userService.loggedIn()" mat-list-item routerLink="" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Home
    </a>
    <a *ngIf="!_userService.loggedIn()" mat-list-item routerLink="login" routerLinkActive="list-item-active">
        <mat-icon>supervised_user_circle</mat-icon>Login/sign up
    </a>
    <a *ngIf="_userService.loggedIn()" mat-list-item routerLink="listBoard" routerLinkActive="list-item-active">
        <mat-icon>add_to_photos</mat-icon>list Your Boards
    </a>
    <a *ngIf="_userService.loggedIn()" mat-list-item routerLink="saveBoard" routerLinkActive="list-item-active">
        <mat-icon>edit</mat-icon>Create board
    </a>
    <a *ngIf="_userService.loggedIn()" mat-list-item routerLink="asign" routerLinkActive="list-item-active">
        <mat-icon>assignment</mat-icon>assign a task
    </a>
    <a *ngIf="_userService.loggedIn()" mat-list-item routerLink="revoke" routerLinkActive="list-item-active">
        <mat-icon>unsubscribe</mat-icon>Revoke Task
    </a>
        
    <a *ngIf="_userService.loggedIn()" mat-list-item routerLink="profile" routerLinkActive="list-item-active">
        <mat-icon>group</mat-icon>Profile
    </a>

    <a *ngIf="_userService.loggedIn() && _userService.isAdmin()"
    appearance="fill" mat-list-item routerLink="listUser" routerLinkActive="list-item-active">
        <mat-icon>group</mat-icon> Users
    </a>

    <a *ngIf="_userService.loggedIn() && _userService.isAdmin()"
    appearance="fill" mat-list-item routerLink="listRole" routerLinkActive="list-item-active">
        <mat-icon>group</mat-icon> Roles
    </a>

    
</mat-nav-list> 